extends layout

block content
  p Bienvenido a Productos
  ul(class="list-group")
    li(class="list-group") NVIDIA GeForce RTX 3070
    li(class="list-group") NVIDIA GeForce RTX 3080
    li(class="list-group") NVIDIA GeForce RTX 3090
    li(class="list-group") NVIDIA GeForce RTX 3060 Ti
    li(class="list-group") NVIDIA GeForce RTX 3060
